.env*
.env
.env/**/*
functions/.env*
conf.d/.env*
completions/.env*
node_modules/**/*
build/**/*
bin
bin/**/*
.sha
.enc
.cache.parent/**/*
.cache.child/**/*
cache*
.config.yaml
.config.*
installer
extricate
run
gnome
node_modules/**/*
node_modules
trusted_certs.pem
deno.lock
*.tar
.env
.DS_Store
